<% if @printer_info == nil %>
    <h1>Error no printers :(</h1>
<% else %>
<table>
    <% for printer in @printer_info['printers'] %>
    <tr>
        <td><%= link_to printer['displayName'].gsub('_', ' '), action: :info, id: printer['id'] %></td>
        <td><%= printer['connectionStatus'] %></td>
        <% if printer['id'] == current_user.printer_id %>
            <td>Selected</td>
        <% else %>
            <td><%= link_to 'Select', controller: :users, action: :add_printer, id: printer['id'] %></td>
        <% end %>
    </tr>
    <% end %>
</table>
<% end %>